#navd{
    
    margin-left:auto;
    margin-right:auto;
    width:98vw;
    border:4px solid green;
    
    color:blueviolet;
    display:none;
   
}
hr{border:3px solid green;

}
.q{
    border:none;
    font-size: larger;
}
.le{
border:4px solid green;margin-right:100%;}
