#navd{
    
    margin-left:auto;
    margin-right:auto;
    width:90vw;
    border:4px solid green;
    background:whitesmoke;
    color:blueviolet;
    display:none;
   
}
hr{border:3px solid green;

}
.q{
    border:none;
    font-size: larger;
}
.le{
border:4px solid green;}
.col-9{text-align:left;}