

.wrapper{text-align:center;}
.head{background:black;padding:25px;color:white;}
.headimg{display:block;
  margin-left:auto;
margin-right:auto;
height:100vh;
max-width:85vw;
}
.stick{
  position: sticky;
  top: 0;
  background:white;
  border:2px solid black;
  }
  @media only screen and (max-width:768px) {
    .head{padding:25px 1px 25px 1px;}
    .headimg{
      height:70vh;
      max-width: 96vw;
    }
    
  }