
.btn
{font-family: cursive;
border-right:1px solid black;
border-left:1px solid black;
background:black;color:white;
margin:1px;
background:white;color:black;
}

.wrapper{text-align:center;}
.head{background:black;padding:25px;color:white;}
.headimg{display:block;
  margin-left:auto;
margin-right:auto;
height:100vh;
max-width:85vw;
}
.stick{
  position: sticky;
  top: 0;
  background:white;
 
  }
  @media only screen and (max-width:768px) {
    .head{padding:25px 1px 25px 1px;}
    .headimg{
      height:70vh;
      max-width: 96vw;
    }
    
  }